<section>
  <div class="menu-class">
    <h1 class="app-name">First Layer Security</h1>
  </div>
  <div class="row image-wrapper" >
    <div class="col-md-8 image-col">
      <div [ngStyle]="{'background-image': 'url('+currentImgUrl+')'}" style="padding:25px;border-right: 20px solid #ddd6; background-repeat: no-repeat; width:100%; min-height:500px; border: 1px solid rgb(221, 221, 221); background-position: center; background-size: contain;"></div>
      <div class="row button-panel" >

        <i class="fa fa-arrow-circle-o-left" style="cursor: pointer;" (click)="backImg()"></i>
        <span style="width:200px;"></span>
        <i class="fa fa-arrow-circle-o-right" style="cursor: pointer;" (click)="nextImg()"></i>

      </div>
    </div>

    <div class="col-md-4 detail-panel" >


      <section class="detail-class" style="margin-top:15%;">
        <div class="row" *ngIf="dataLoaded">

          <h1  class="warning-level-blurry" *ngIf="computeDanger != '100%'"> Blurry <span class="warning-score"> {{computeDanger}} </span></h1>
          <h1 *ngIf="computeDanger === '100%'" class="warning-level"> Danger!!! <span class="warning-score"> {{computeDanger}} </span></h1>

        </div>
        <div class="row" *ngIf="!dataLoaded">
          <i class="fa fa-spin fa-spinner loading-spinner" aria-hidden="true"></i>
        </div>
        <div class="row" *ngIf="dataLoaded">

          <span class="tag-item" *ngIf="!tagIntersection.length"> Danger Tags could not recognized or not clear</span>
          <span class="tag-item" *ngFor="let tag of tagIntersection"> {{tag}} </span>

        </div>
        <div class="row" *ngIf="dataLoaded" >
          <p *ngIf="computeDanger === '100%'"  class="alert-message"> Alert!!! will reached to guards and respective parties with the image/video</p>
        </div>
      </section>
    </div>
  </div>
  <div class="footer" style="width:100%;height:35px;background:black; bottom:0;position:fixed; margin-left:-8px;"></div>
</section>
<router-outlet></router-outlet>